# 指定文件的語言，並將 .js 文件計入語言統計
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.js linguist-generated=false

# 排除 css
*.css linguist-language=CSS
*.css linguist-documentation=false

# 排除 SCSS
*.scss linguist-language=SCSS
*.scss linguist-documentation=false

# 視文件為文檔類型，忽略語言統計
*.md linguist-documentation